/* Root AnchorPane (Background) */
.root {
    -fx-background-color: #9c9c9c;
}

/* HBox Menu Container */
#menuList {
    -fx-alignment: CENTER;
    -fx-spacing: 15px;
    -fx-padding: 10px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
}



/* Button Hover Effects */
.button:hover {
    -fx-opacity: 0.9;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 2);
}

/* Individual Button Colors */
#total {
    -fx-background-color: #3498db;
}
#CompDets{
    -fx-wrap-text: true;
}

#MOP {
    -fx-background-color: #2ecc71;
}

#receipt {
    -fx-background-color: #038b1a;
}

#voidMenu {
    -fx-background-color: #060008;
}

#logout {
    -fx-background-color: #fd0808;
}